.container {
  height: 100vh;
  width: 100vw;
}

.main_content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart_notes {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
